{% macro tooltip(entity) %}
    {%- spaceless %}
        {{ 'Is referenced by'|trans }}:<br>

        {% set blockingEntityChains = find_delete_blocking_entities(entity, 5) %}

        {% for blockingEntityChain in blockingEntityChains|slice(0, 4) %}
            <div class="dependency-tooltip-row" style="text-align: left;">
                {% for index, chainEntity in blockingEntityChain %}
                    <span style="display: inline-block">
                        {% if index > 0 %}&nbsp;=>&nbsp;{% endif %}
                        <strong class="entity-class" data-class-name="{{ chainEntity|class_name }}">
                            {{ chainEntity|readable_class_name }}
                        </strong>
                        {{- ' ' -}}
                        <i class="entity-id">{{ chainEntity|readable_id }}</i>
                    </span>
                {% endfor %}
            </div>
        {% endfor %}

        {% if blockingEntityChains|length > 4 %}
            <span style="display: inline-block" class="text-muted">
                {{ 'and more...'|trans }}
            </span>
        {% endif %}

    {% endspaceless -%}
{% endmacro %}

{% macro tooltip_attributes(entity, attr) %}
    {%- spaceless %}

        {% if not is_deletable(entity) %}
            {% import 'HnEntityBundle:Dependency:macro.html.twig' as dependency %}
            {% set attr = attr|merge({
            'data-content': dependency.tooltip(entity),
            'data-container': 'body',
            'data-trigger': 'hover',
            'data-toggle': 'popover',
            'data-placement': 'top',
            'data-html': 'true',
            'style': 'pointer-events: auto',
            'onclick': 'return false'
            }) %}
        {% endif %}

        {%- for attrname, attrvalue in attr -%}
            {{- " " -}}
            {%- if attrname in ['placeholder', 'title', 'alt', 'data-content'] -%}
                {{- attrname }}="{{ attrvalue|trans({}, translation_domain|default(null)) }}"
            {%- elseif attrvalue is sameas(true) -%}
                {{- attrname }}="{{ attrname }}"
            {%- elseif attrvalue is not sameas(false) -%}
                {{- attrname }}="{{ attrvalue }}"
            {%- endif -%}
        {%- endfor -%}

    {% endspaceless %}
{% endmacro tooltip_attributes %}
