{% macro tooltip(entity) %}
    {%- spaceless %}
        {{ 'Is referenced by'|trans }}:<br>

        {% set blockingEntityChains = find_delete_blocking_entities(entity, 5) %}

        {% for blockingEntityChain in blockingEntityChains|slice(0, 4) %}
            <div class="dependency-tooltip-row" style="text-align: left;">
                {% for index, chainEntity in blockingEntityChain %}
                    <span style="display: inline-block">
                        {% if index > 0 %}&nbsp;=>&nbsp;{% endif %}
                        <strong class="entity-class" data-class-name="{{ chainEntity|class_name }}">
                            {{ chainEntity|readable_class_name }}
                        </strong>
                        {{- ' ' -}}
                        <i class="entity-id">{{ chainEntity|readable_id }}</i>
                    </span>
                {% endfor %}
            </div>
        {% endfor %}

        {% if blockingEntityChains|length > 4 %}
            <span style="display: inline-block" class="text-muted">
                {{ 'and more...'|trans }}
            </span>
        {% endif %}

    {% endspaceless -%}
{% endmacro %}